html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3{
    margin: 0;
}
body{
    background-color: #aaaaaa;
    margin: 4vh;
}
a{
    text-decoration: inherit;
    color: inherit;
    width: 100%;
}
.pablo{
    border: solid black 1vh;
    display: block;
    padding: 2vh;
    background: white;
    width: 100%;
    box-sizing: border-box;
}
.pablo:hover{
    cursor: pointer;
}
.titulo{
    text-decoration: underline;
}
.pesquisa{
    margin-top: 2vh;
    padding: 1vh;
    width: 25%;
}
.adiciona{
    margin-top: 5vh;
}
.adiciona > input{
    padding: 1vh;
    margin-bottom: 1vh;
    width: 100%;
}
.adiciona > button{
    width: 100%;
}
.voltar{
    padding: 1vh;
    text-decoration: none;
    width: 50%;
}
.editar{
    background-color: white;
    padding: 2vh;
}
.ultragrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vh;
    margin-top: 2vh;
}
#table{
    width: 100%;
}